* {background-color: BlanchedAlmond;}

.center{
  text-align: center;
}

h1{
  font-size: 3rem;
  color: brown;
}

#c{
  color: red;
}

#h{
  color: orange;
}

#e{
  color: indigo;
}

#m{
  color: green;
}

#i{
  color: blue;
}

#s{
  color: indigo;
}

#t{
  color: violet;
}

#r{
  color: red;
}

#y{
  color: orange;
}


#chemistry{
  font-family: cursive;
}

#symbol{
  color: blue;
}

h2{
  color: brown;
}

h3{
  color: brown;
}

h4{
  color: brown;
}

.italic{
  font-style: italic;
}
