* {
  background-color: BlanchedAlmond;
}


.center{
  text-align: center;
}


h1{
  font-size: 3rem;
  color: brown;
  font-family: monospace;
}



#c{
  color: red;
}

#h{
  color: orange;
}

#e{
  color: indigo;
}

#m{
  color: green;
}

#i{
  color: blue;
}

#s{
  color: indigo;
}

#t{
  color: violet;
}

#r{
  color: red;
}

#y{
  color: orange;
}


#hoffman{
  font-;
}

#chemistry{
  font-family: cursive;
}

#symbol{
  color: blue;
}

h2{
  color: brown;
  font-family: cursive;
}

h3{
  color: brown;
  font-family: cursive;
}

h4{
  color: brown;
  font-family: cursive;
}

.italic{
  font-style: italic;
}

p {
  font-family: cursive;
}

a{
  font-family: cursive;
  color: brown;
}
